# Sesion 7

In [1]:
import pandas as pd
import numpy as np

In [3]:
bestsellers = pd.read_csv("https://raw.githubusercontent.com/beduExpert/Procesamiento-de-Datos-con-Python-Santander/master/Datasets/new_york_times_bestsellers-dirty.csv")
bestsellers

      Unnamed: 0  ... price.numberDouble
0              0  ...              25.99
1              1  ...              24.95
2              2  ...              22.95
3              3  ...              24.95
4              5  ...              26.95
...          ...  ...                ...
2261        3027  ...              26.95
2262        3028  ...              27.95
2263        3029  ...              27.95
2264        3030  ...              26.95
2265        3031  ...              28.99

[2266 rows x 13 columns]

In [5]:
bestsellers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2266 entries, 0 to 2265
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   2266 non-null   int64
 1   amazon_product_url           2266 non-null   object
 2   author                       2266 non-null   object
 3   description                  2266 non-null   object
 4   publisher                    2266 non-null   object
 5   title                        2266 non-null   object
 6   oid                          2266 non-null   object
 7   bestsellers_date.numberLong  2266 non-null   object
 8   published_date.numberLong    2266 non-null   int64
 9   rank.numberInt               2266 non-null   object
 10  rank_last_week.numberInt     2266 non-null   int64
 11  weeks_on_list.numberInt      2266 non-null   int64
 12  price.numberDouble           2266 non-null   float64
dtypes: float64(1), int64(4), object(8)
memory usage: 230.3+ KB

In [7]:
bestsellers.head()

   Unnamed: 0  ... price.numberDouble
0           0  ...              25.99
1           1  ...              24.95
2           2  ...              22.95
3           3  ...              24.95
4           5  ...              26.95

[5 rows x 13 columns]

In [10]:
bestsellers.dtypes

Unnamed: 0                       int64
amazon_product_url              object
author                          object
description                     object
publisher                       object
title                           object
oid                             object
bestsellers_date.numberLong     object
published_date.numberLong        int64
rank.numberInt                  object
rank_last_week.numberInt         int64
weeks_on_list.numberInt          int64
price.numberDouble             float64
dtype: object

In [11]:
# Datetime
dicc_mod ={
    "bestsellers_date.numberLong":"datetime64[ns]",
    "published_date.numberLong":"datetime64[ns]"
}

temp=bestsellers.astype(dicc_mod)

temp.head()

   Unnamed: 0  ... price.numberDouble
0           0  ...              25.99
1           1  ...              24.95
2           2  ...              22.95
3           3  ...              24.95
4           5  ...              26.95

[5 rows x 13 columns]

In [13]:
pd.to_datetime(bestsellers["published_date.numberLong"], unit="ms")

0      2008-06-08
1      2008-06-08
2      2008-06-08
3      2008-06-08
4      2008-06-08
          ...
2261   2013-05-05
2262   2013-05-05
2263   2013-05-05
2264   2013-05-05
2265   2013-05-05
Name: published_date.numberLong, Length: 2266, dtype: datetime64[ns]

In [14]:
temp["published_date.numberLong"]=pd.to_datetime(bestsellers["published_date.numberLong"], unit="ms")
temp.head()

   Unnamed: 0  ... price.numberDouble
0           0  ...              25.99
1           1  ...              24.95
2           2  ...              22.95
3           3  ...              24.95
4           5  ...              26.95

[5 rows x 13 columns]

In [15]:
temp["rank.numberInt"].astype(int)

ValueError: ignored

In [17]:
temp["rank.numberInt"]=pd.to_numeric(temp["rank.numberInt"], errors="coerce")

In [19]:
temp.dtypes

Unnamed: 0                              int64
amazon_product_url                     object
author                                 object
description                            object
publisher                              object
title                                  object
oid                                    object
bestsellers_date.numberLong    datetime64[ns]
published_date.numberLong      datetime64[ns]
rank.numberInt                        float64
rank_last_week.numberInt                int64
weeks_on_list.numberInt                 int64
price.numberDouble                    float64
dtype: object

In [26]:
#datetime

print(temp["bestsellers_date.numberLong"][0])

print(temp["bestsellers_date.numberLong"][0].year)

print(temp["bestsellers_date.numberLong"][0].month)

print(temp["bestsellers_date.numberLong"][0].day)

print(temp["bestsellers_date.numberLong"][0].strftime("Date: %A %d-%b-%y"))

2008-05-24 00:00:00
2008
5
24
Date: Saturday 24-May-08

# Cadenas

1. Replace
2. Strip
3. Lower
4. Upper
5. Title

In [27]:
temp.head()

   Unnamed: 0  ... price.numberDouble
0           0  ...              25.99
1           1  ...              24.95
2           2  ...              22.95
3           3  ...              24.95
4           5  ...              26.95

[5 rows x 13 columns]

In [30]:
temp["description"]=temp["description"].str.replace("Descr: ", "")

In [31]:
temp.head()

   Unnamed: 0  ... price.numberDouble
0           0  ...              25.99
1           1  ...              24.95
2           2  ...              22.95
3           3  ...              24.95
4           5  ...              26.95

[5 rows x 13 columns]

In [33]:
temp["description"]=temp["description"].str.strip()
temp["description"][0]

'Aliens have taken control of the minds and bodies of most humans, but one woman won’t surrender.'

In [35]:
temp["description"][0].title()

'Aliens Have Taken Control Of The Minds And Bodies Of Most Humans, But One Woman Won’T Surrender.'

In [36]:
temp["description"][0].upper()

'ALIENS HAVE TAKEN CONTROL OF THE MINDS AND BODIES OF MOST HUMANS, BUT ONE WOMAN WON’T SURRENDER.'

In [38]:
temp["description"][0].lower()

'aliens have taken control of the minds and bodies of most humans, but one woman won’t surrender.'

In [42]:
temp["title"]=temp["title"].str.title()
temp.head()

   Unnamed: 0  ... price.numberDouble
0           0  ...              25.99
1           1  ...              24.95
2           2  ...              22.95
3           3  ...              24.95
4           5  ...              26.95

[5 rows x 13 columns]

In [44]:
temp["author"].str.split(" ")

0         [Stephenie, Meyer]
1            [Emily, Giffin]
2       [Patricia, Cornwell]
3         [Chuck, Palahniuk]
4           [John, Sandford]
                ...
2261         [Stuart, Woods]
2262         [Harlan, Coben]
2263         [Meg, Wolitzer]
2264          [Philip, Kerr]
2265         [Jodi, Picoult]
Name: author, Length: 2266, dtype: object

In [46]:
"Hola ".join("Mundo")

'MHola uHola nHola dHola o'

In [49]:
temp[["Nombre", "Apellido"]] = temp["author"].str.split(" ", expand=True)
temp.head()

   Unnamed: 0  ...   Apellido
0           0  ...      Meyer
1           1  ...     Giffin
2           2  ...   Cornwell
3           3  ...  Palahniuk
4           5  ...   Sandford

[5 rows x 15 columns]

# Map

In [50]:
int_to_lettter ={
    "1":"a",
    "2":"b",
    "3":"c",
    "4":"d",
    "5":"e"
}

bestsellers["rank.numberInt"].map(int_to_lettter).head()

0      b
1      c
2      d
3      e
4    NaN
Name: rank.numberInt, dtype: object

In [53]:
def double_to_usd(val):
  return f"${val} USD"

bestsellers["price.numberDouble"].map(double_to_usd)

0       $25.99 USD
1       $24.95 USD
2       $22.95 USD
3       $24.95 USD
4       $26.95 USD
           ...
2261    $26.95 USD
2262    $27.95 USD
2263    $27.95 USD
2264    $26.95 USD
2265    $28.99 USD
Name: price.numberDouble, Length: 2266, dtype: object

# Apply

In [54]:
tacos = {
    "Sergio":[4,10],
    "Monica":[5,8],
    "Jose":[6,8],
    "Zoe":[5,12],
    "Jesus":[4,22],
    "Emilio":[6,14]
}

df_tacos = pd.DataFrame.from_dict(tacos)

df_tacos

   Sergio  Monica  Jose  Zoe  Jesus  Emilio
0       4       5     6    5      4       6
1      10       8     8   12     22      14

In [60]:
def promedio(val):
  return sum(val)/len(val)

df_tacos.apply(promedio, axis=1)

0     5.000000
1    12.333333
dtype: float64

In [61]:
df_tacos.apply(promedio, axis=0)

Sergio     7.0
Monica     6.5
Jose       7.0
Zoe        8.5
Jesus     13.0
Emilio    10.0
dtype: float64

# FILTRO

In [66]:
bestsellers[bestsellers["author"].str.startswith("R")]

      Unnamed: 0  ... price.numberDouble
60            79  ...              25.95
73            94  ...              25.95
85           110  ...              24.95
109          143  ...              25.95
121          158  ...              25.95
133          173  ...              25.95
492          643  ...              26.95
504          660  ...              26.95
586          777  ...              25.95
599          793  ...              25.95
609          804  ...              25.95
613          808  ...              25.95
627          824  ...              25.95
641          843  ...              25.95
654          858  ...              25.95
666          872  ...              25.95
706          922  ...              19.99
713          929  ...              19.99
736          957  ...              19.99
742          965  ...              19.99
754          980  ...              19.99
823         1062  ...              26.95
840         1080  ...              26.95
853         1093  ...              26.95
872         1114  ...              26.95
1122        1442  ...              26.95
1188        1530  ...              24.99
1203        1549  ...              24.99
1221        1575  ...              26.95
1335        1717  ...              26.95
1348        1733  ...              26.95
1357        1748  ...              26.95
1368        1763  ...              26.95
1381        1778  ...              26.95
1637        2147  ...              25.99
1652        2167  ...              25.99
1670        2191  ...              25.99
1783        2350  ...              26.95
1793        2364  ...              26.95
1798        2370  ...              25.95
1804        2378  ...              26.95
1809        2384  ...              25.95
1815        2394  ...              26.95
1859        2469  ...              26.99
1909        2536  ...              27.99
1916        2546  ...              27.99
1923        2559  ...              27.99
1926        2563  ...              27.99
1931        2571  ...              27.99
1938        2582  ...              27.99
1948        2594  ...              27.99
2019        2692  ...              26.99
2166        2891  ...              27.95
2176        2905  ...              27.95
2187        2918  ...              27.95
2196        2930  ...              27.95
2209        2945  ...              27.95

[57 rows x 13 columns]

In [68]:
bestsellers[bestsellers["price.numberDouble"]<15].tail()

      Unnamed: 0  ... price.numberDouble
1021        1310  ...              14.99
1032        1328  ...              14.99
1043        1343  ...              14.99

[3 rows x 13 columns]

In [72]:
bestsellers[(bestsellers["price.numberDouble"]>15) & (bestsellers["author"].str.startswith("R"))].tail()

      Unnamed: 0  ... price.numberDouble
2166        2891  ...              27.95
2176        2905  ...              27.95
2187        2918  ...              27.95
2196        2930  ...              27.95
2209        2945  ...              27.95

[5 rows x 13 columns]

In [76]:
filtro_mayor_a_15=bestsellers["price.numberDouble"]>15  
filtro_inicia_con_r=bestsellers["author"].str.startswith("R")
libros=bestsellers[filtro_mayor_a_15 & filtro_inicia_con_r]
libros.head()

     Unnamed: 0  ... price.numberDouble
60           79  ...              25.95
73           94  ...              25.95
85          110  ...              24.95
109         143  ...              25.95
121         158  ...              25.95

[5 rows x 13 columns]

In [78]:
libros.sort_values("price.numberDouble", ascending=False).head()

      Unnamed: 0  ... price.numberDouble
1916        2546  ...              27.99
1948        2594  ...              27.99
1909        2536  ...              27.99
1923        2559  ...              27.99
1926        2563  ...              27.99

[5 rows x 13 columns]