# Series
* Tienen un indice y se visualiza
* Solo se guarda un tipo de dato

In [3]:
import pandas as pd

serie_a = pd.Series([2,3,4,6,5])
serie_a

0    2
1    3
2    4
3    6
4    5
dtype: int64

In [6]:
serie_b = pd.Series( [1,2,3,4,5], index=[12,13,14,15,16])
serie_b

12    1
13    2
14    3
15    4
16    5
dtype: int64

In [7]:
serie_c = pd.Series( [1,2,3,4,5], index=['a','b','c','d','f'])
serie_c

a    1
b    2
c    3
d    4
f    5
dtype: int64

In [9]:
serie_c.loc['d']

4

In [20]:
datos = {
    "Juan": 45,
    "Pepe": 56,
    "Alfonsina": 12,
    "Jenny": 49,
    "Marco P.": 12
}

serie_d = pd.Series(datos)
serie_d

Juan         45
Pepe         56
Alfonsina    12
Jenny        49
Marco P.     12
dtype: int64

In [16]:
print(serie_a)

serie_a.iloc[[1,3,4]]

0    2
1    3
2    4
3    6
4    5
dtype: int64

1    3
3    6
4    5
dtype: int64

In [19]:
print(serie_c)
serie_c.loc[['a','b','f']]

a    1
b    2
c    3
d    4
f    5
dtype: int64

a    1
b    2
f    5
dtype: int64

# Dataframes

In [22]:
datos = {
    "columna_1": [1,3,4,5],
    "columna_2": [2,4,5,6],
    "columna_3": [3,5,6,7],
    "columna_4": [4,6,7,8],
    "columna_5": [5,7,8,9]
    
}

df = pd.DataFrame(datos)
df

   columna_1  columna_2  columna_3  columna_4  columna_5
0          1          2          3          4          5
1          3          4          5          6          7
2          4          5          6          7          8
3          5          6          7          8          9

In [23]:

df = pd.DataFrame(datos, index=['a','b','c','d'])
df

   columna_1  columna_2  columna_3  columna_4  columna_5
a          1          2          3          4          5
b          3          4          5          6          7
c          4          5          6          7          8
d          5          6          7          8          9

In [25]:
df['columna_1']

a    1
b    3
c    4
d    5
Name: columna_1, dtype: int64

In [26]:
df['columna_1']['a']

1

In [28]:
df[['columna_1','columna_4']]

   columna_1  columna_4
a          1          4
b          3          6
c          4          7
d          5          8

In [29]:
df.loc["a"]

columna_1    1
columna_2    2
columna_3    3
columna_4    4
columna_5    5
Name: a, dtype: int64

In [30]:
df.loc["a":'c']

   columna_1  columna_2  columna_3  columna_4  columna_5
a          1          2          3          4          5
b          3          4          5          6          7
c          4          5          6          7          8

# Modificacion dataframes

In [46]:
datos = {
    "nombre": ["Jose", "Angel" ,"Meliodas", "Palmer", "Sara"],
    "cereal": ["Choco", "Zuca", "Korn", "Fruit", "Nestil"]
}
df = pd.DataFrame(datos)
df

     nombre  cereal
0      Jose   Choco
1     Angel    Zuca
2  Meliodas    Korn
3    Palmer   Fruit
4      Sara  Nestil

In [51]:
hr_des = [11,12,3,10,12]
df["Hora del desayuno"] = pd.Series(hr_des)
df

     nombre  cereal  Hora del desayuno
0      Jose   Choco                 11
2  Meliodas    Korn                  3
3    Palmer   Fruit                 10
4      Sara  Nestil                 12

In [52]:
df=df.drop(columns="Hora del desayuno")
df

     nombre  cereal
0      Jose   Choco
2  Meliodas    Korn
3    Palmer   Fruit
4      Sara  Nestil

In [54]:
df=df.drop(index=0)
df

     nombre  cereal
2  Meliodas    Korn
3    Palmer   Fruit
4      Sara  Nestil

In [63]:
dato = {
    "nombre": ["kara"],
    "cereal": ["cruji"]
}

df1 = df.append(pd.DataFrame(dato))
df1

     nombre  cereal
2  Meliodas    Korn
3    Palmer   Fruit
4      Sara  Nestil
0      kara   cruji

#Analisis exploratorio

In [66]:
import json
import requests

#https://raw.githubusercontent.com/beduExpert/Procesamiento-de-Datos-con-Python-Santander/master/Datasets/zomato_reviews-clean.json
df = pd.read_json("https://raw.githubusercontent.com/beduExpert/Procesamiento-de-Datos-con-Python-Santander/master/Datasets/zomato_reviews-clean.json")

df

      has_online_delivery  price_range  ... location.city user_rating.rating_text
0                       1            3  ...     New Delhi               Very Good
1                       0            3  ...     New Delhi               Excellent
2                       1            2  ...     New Delhi               Very Good
3                       0            3  ...     New Delhi               Very Good
4                       0            3  ...     New Delhi               Very Good
...                   ...          ...  ...           ...                     ...
1175                    0            3  ...     Edinburgh               Very Good
1176                    0            3  ...     Edinburgh               Excellent
1177                    0            3  ...     Edinburgh               Excellent
1178                    0            3  ...     Edinburgh                    Good
1179                    0            3  ...     Edinburgh                    Good

[1180 rows x 8 columns]

In [67]:
df.describe()

       has_online_delivery  price_range
count          1180.000000  1180.000000
mean              0.112712     2.827119
std               0.316374     0.863319
min               0.000000     1.000000
25%               0.000000     2.000000
50%               0.000000     3.000000
75%               0.000000     3.000000
max               1.000000     4.000000

In [68]:
df.tail()

      has_online_delivery  price_range  ... location.city user_rating.rating_text
1175                    0            3  ...     Edinburgh               Very Good
1176                    0            3  ...     Edinburgh               Excellent
1177                    0            3  ...     Edinburgh               Excellent
1178                    0            3  ...     Edinburgh                    Good
1179                    0            3  ...     Edinburgh                    Good

[5 rows x 8 columns]

In [69]:
df.head()

   has_online_delivery  price_range  ... location.city user_rating.rating_text
0                    1            3  ...     New Delhi               Very Good
1                    0            3  ...     New Delhi               Excellent
2                    1            2  ...     New Delhi               Very Good
3                    0            3  ...     New Delhi               Very Good
4                    0            3  ...     New Delhi               Very Good

[5 rows x 8 columns]

In [71]:
df.dtypes

has_online_delivery         int64
price_range                 int64
currency                   object
name                       object
cuisines                   object
location.address           object
location.city              object
user_rating.rating_text    object
dtype: object

In [73]:
df.shape

(1180, 8)

In [75]:
import json
import requests

#https://raw.githubusercontent.com/beduExpert/Procesamiento-de-Datos-con-Python-Santander/master/Datasets/zomato_reviews-clean.json

df2 =requests.get("https://raw.githubusercontent.com/beduExpert/Procesamiento-de-Datos-con-Python-Santander/master/Datasets/zomato_reviews-clean.json")
df2